fastapi==0.115.12
kafka_python==2.1.4
langfuse==2.60.2
onnxruntime==1.21.0
pandas==2.2.3
prometheus_client==0.21.1
pydantic==2.11.1
pydantic_settings==2.8.1
pymongo==4.11.3
python-dotenv==1.1.0
tenacity==9.0.0
torch==2.6.0
transformers==4.50.3
uvicorn==0.34.0
